.about {
  padding: 20px 100px;
}

.about__banner {
  height: 223px;
  width: 100%;
  border-radius: 20px;
  background-image: url("../../public/about-banner.png");
  object-fit: contain;
}

.about__dropdown {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
