.home {
  padding: 20px 100px;
  margin-bottom: 20px;
}

.home__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  color: white;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/banner.png");
}

.home__banner h1 {
  font-size: 48px;
  font-weight: 700;
}

.home__homes {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 20px;
}
